.content-projects {
  /* max-width: 1200px; */
  /* min-height: 100vh; */
  /* grid-template-rows: 1fr 1fr; */
  background-color: rgb(41, 37, 43);
}

.lista-projects {
  list-style: none;
  /* margin: 10px; */
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background: rgb(63, 56, 56);
}

.card {
  /* margin: 10px; */
  /* background-color: rgb(145, 142, 156); */
  /* width: 1%; */
  transition: all 0.3s ease-in-out 0s;
  border: solid 2px rgb(100, 87, 87);
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.texto-card {
  /* color: #ff8177; */
  color: rgb(151, 156, 160);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

.link-projects {
  text-decoration: none;
  background-color: rgb(36, 35, 39);
  text-align: center;
  padding: 8px 25px;
  width: 100%;
  /* border: rgb(100, 49, 49) solid 1px; */
  border-image: linear-gradient(90deg, #d24074, #6518b4 100%) 1;
  border-radius: 1px;
}

.links {
  /* position: relative; */
  padding: 30px;
  text-align: center;
  bottom: 10px;
  font-weight: 700;
  color: rgb(161, 45, 45);
}

.card:hover {
  /* background: transparent; */
  transform: scale(1.02);
  /* color: white; */
  border: solid chocolate 2px;
  box-shadow: 0 0 0 2px rgb(145, 142, 156);
}

.cor {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100px;
  width: auto;
}

@media (max-width: 800px) {
  .card {
    transition: all 0.3s ease-in-out 0s;
    /* border: solid 2px rgb(100, 87, 87); */
    background: #f12711;
    background: linear-gradient(to right, #f5af19, #f12711);
    position: relative;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .content-projects {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .card {
    transition: all 0.3s ease-in-out 0s;
    /* border: solid 2px rgb(100, 87, 87); */
    background: #f12711;
    background: linear-gradient(to right, #f5af19, #f12711);
    position: relative;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .content-projects {
    padding-top: 50px;
  }
}
